---
import { siteConfig } from '@/data/site.config'
import { getCurrentLang, setLang } from './utils/i18n'

const currentLang = getCurrentLang()
const languages = siteConfig.i18n.locales
---

<select onchange={(e) => setLang(e.target.value)} value={currentLang} class='border p-2 rounded'>
	{
		languages.map((lang) => (
			<option key={lang} value={lang}>
				{lang.toUpperCase()}
			</option>
		))
	}
</select>
